{% extends 'base.html' %}

{% block conteudo %}
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />        

    </head>
    <body style ="background-image: url(https://media.istockphoto.com/id/1370858067/pt/vetorial/neutral-abstract-background-minimal-poster-template-with-diagonal-shapes-calm-design-with.jpg?s=612x612&w=0&k=20&c=qYBImSM3i26obiKF2betJFfwZUTummN3RSXUmu88VXE=); background-repeat: no-repeat; background-size: cover; font-family: Georgia, 'Times New Roman', Times, serif; text-align: center;">

    {% if request.user.is_authenticated %}
    <p>
        <a href="{% url 'customers:cadastrar customer' %}" class="btn btn-success" style="margin-top: 5px; margin-bottom: 5px;background-color: black; width: 320px; padding: 10px; border: none; font-size: 20px;"><i class="fa-solid fa-plus"></i> NOVA INSCRIÇÃO</a>
    </p>

    <table class="table table-hover table-sm" style = "background-color: #fdfdfd; border:#002257;" >
        <tr>
            <th>CPF do Aluno</th>
            <th>Nome do Aluno</th>
            <th>Curso Inscrito</th>
            <th>Dados do Aluno</th>
            <th style="width:1px;white-space: nowrap;">Ações</th>
        </tr>

        {% for customer in object_list %}
            <tr>
                <td>{{customer.CPF}}</td>
                <td>{{customer.nome}}</td>
                <td>{{customer.IdProfissionalizante}}</td>
                <td><a href="{% url 'customers:customer-pdf-view' customer.pk %}"><button class="btn btn-primary"><i class="fa-solid fa-file-pdf"></i> Dados</button></a></td>
                <td style="width:1px;white-space: nowrap;">
                    <a href="{% url 'customers:editar customer' customer.pk %}" class="btn btn-sm btn-warning" title="Editar categoria"><i class="fa-solid fa-pen-to-square"></i> Editar</a>

                    <a href="{% url 'customers:excluir customer' customer.pk %}" class="btn btn-sm btn-danger" title="Excluir" style="color: black;"><i class="fa-solid fa-trash-can"></i> Excluir</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <p>
        <a href="{% url 'index' %}" class="btn btn-success" style="margin-top: 5px; margin-bottom: 5px;background-color: #ff0000; width: 250px; padding: 10px; border: none;"><i class="fa-solid fa-backward-step"></i> VOLTAR</a>
    </p>
    {% endif %}
    </body>
{% endblock conteudo %}