<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados</title>
</head>
<body>
    <h1>Informações do Aluno</h1>
    <h3>Nome do Aluno: {{customer.nome}}</h3>
    <h3>CPF: {{customer.CPF}}</h3>
    <h3>Data de Nascimento: {{customer.nascimento}}</h3>
    <h3>Sexo: {{customer.sexo}}</h3>
    <h3>Complemento: {{customer.complemento}}</h3>
    <hr>
    <h1>Curso:</h1>
    <h3>Aluno cursado em {{customer.IdProfissionalizante}}</h3>
    <hr>
    <h1>Contato:</h1>
    <h3>E-mail: {{customer.email}}</h3>
    <h3>Celular: {{customer.celular}}</h3>
    <hr>
    <h1>Informações Residencial</h1>
    <h3>CEP: {{customer.cep}}</h3>
    <h3>Municipio: {{customer.cidade}}</h3>
    <h3>Bairro: {{customer.bairro}}</h3>
    <h3>Rua: {{customer.rua}}</h3>
    <h3>Numero da residencia: {{customer.numero}}</h3>
    <h3>Complemento: {{customer.complemento}}</h3>
    <hr>
    <h1>Deficiência:</h1>
    <h3>O aluno possui deficiência: {{customer.pcd}}</h3>

</body>
</html>