<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados</title>
</head>
<body>
    <h1>Informações do Aluno</h1>
    <h3>Nome do Aluno: {{esporte.nome}}</h3>
    <h3>CPF: {{esporte.CPF}}</h3>
    <h3>Data de Nascimento: {{esporte.nascimento}}</h3>
    <h3>Sexo: {{esporte.sexo}}</h3>
    <hr>
    <h1>Curso:</h1>
    <h3>Aluno cursado em {{esporte.IdAtividade}}</h3>
    <hr>
    <h1>Contato:</h1>
    <h3>E-mail: {{esporte.email}}</h3>
    <h3>Celular: {{esporte.celular}}</h3>
    <hr>
    <h1>Informações Residencial</h1>
    <h3>CEP: {{esporte.cep}}</h3>
    <h3>Municipio: {{esporte.cidade}}</h3>
    <h3>Bairro: {{esporte.bairro}}</h3>
    <h3>Rua: {{esporte.rua}}</h3>
    <h3>Numero da residencia: {{esporte.numero}}</h3>
    <h3>Complemento: {{esporte.complemento}}</h3>
    <hr>
    <h1>Deficiência:</h1>
    <h3>O aluno possui deficiência: {{esporte.pcd}}</h3>

</body>
</html>