<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados</title>
</head>
<body>
    <h1>Informações do Aluno</h1>
    <h3>Nome do Aluno: {{beleza.nome}}</h3>
    <h3>CPF: {{beleza.CPF}}</h3>
    <h3>Data de Nascimento: {{beleza.nascimento}}</h3>
    <h3>Sexo: {{beleza.sexo}}</h3>
    <hr>
    <h1>Curso:</h1>
    <h3>Aluno cursado em {{beleza.IdCurso}}</h3>
    <hr>
    <h1>Contato:</h1>
    <h3>E-mail: {{beleza.email}}</h3>
    <h3>Celular: {{beleza.celular}}</h3>
    <hr>
    <h1>Informações Residencial</h1>
    <h3>CEP: {{beleza.cep}}</h3>
    <h3>Municipio: {{beleza.cidade}}</h3>
    <h3>Bairro: {{beleza.bairro}}</h3>
    <h3>Rua: {{beleza.rua}}</h3>
    <h3>Numero da residencia: {{beleza.numero}}</h3>
    <h3>Complemento: {{beleza.complemento}}</h3>
    <hr>
    <h1>Deficiência:</h1>
    <h3>O aluno possui deficiência: {{beleza.pcd}}</h3>

</body>
</html>